
.tag_container{
    width: 100%;
    
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
}
.tag_container .tag{
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    display: flex;
    margin: .3rem;
    padding: .15rem;
}
.tag span{
    display: flex;
    align-items: center;
    margin: .15rem;
}

.tag_container input{
    flex: 1;
    font-size: 1rem;
    padding: .2rem;
    outline: none;
    border: 0;
}
